{
    service: {
        uri: "/addama/services/repositories/fs-workspaces-svc",
        url: "https://informatics.example.org/fs-workspaces-svc",
        searchable: true,
        label: "Filesystem Workspaces Service"
    },
    mappings: [
         {
            uri: "/addama/workspaces/someapp",
            label: "SomeApp workspace",
            comment: "Workspace for users to share data with someapp through filesystem"
         }
    ],
    locals: [
         {
             uri: "/addama/workspaces/someapp",
             comment: "This service stores annotations in a running JCR; stores files in a local filesystem; tabular files may be loaded for querying in a local database",
             rootPath: "/local/permanent/path",
             datasource: {
                 comment: "optional section",
                 classname: "com.mysql.jdbc.Driver",
                 jdbcurl: "jdbc:mysql://hostname:port/databasename",
                 username: "username",
                 password: "password"
             }
         }
    ]
}
