{
    label: "label",
    family: "/addama/tools",
    mappings: [
        {
            id: "id",
            label: "label",
            emailInstructions: {
                from: "email@addama.org",
                subject: "Subject",
                emailText: "target/test-classes/email-handler-test/TestEmailMessage.txt",
                host: "localhost"
            }
        },
        {
            id: "noemail",
            label: "noemail"
        }
    ]
}