{
    id: "script-execution-svc",
    base: "/addama/tools",
    label: "Local Script Execution Service",
    mappings: [
        {
            uri:"/addama/tools/firsttool",
            label: "First Tool",
            script: "/usr/bin/python first.py",
            workDir: "/local/addama/domains/example.org/scripts",
            viewer: "/addama/ui/tools/myfirstui.html",
            comment: "Every POST to this URI + /jobs will cause a new job directory to be created in the workDir.  GET calls to the URI will be redirected to the viewer URI"
        },
        {
            uri:"/addama/tools/secondtool",
            label: "Second Tool",
            script: "/usr/bin/perl second.pl",
            workDir: "/local/addama/domains/example.org/scripts",
            viewer: "/addama/ui/tools/mysecondui.html",
            comment: "Every POST to this URI + /jobs will cause a new job directory to be created in the workDir.  GET calls to the URI will be redirected to the viewer URI"
        }
    ],
    jobsDb: {
        classname: "com.mysql.jdbc.Driver",
        jdbcurl: "jdbc:mysql://host:3306/dbname",
        username: "readwriteusername",
        password: "readwritepassword"
    }
}
