{
    family: "/addama/tools",
    label: "Local Script Execution Service",
    mappings: [
        {
            id:"firsttool",
            label: "First Tool",
            script: "/usr/bin/python first.py",
            workDir: "/local/addama/domains/example.org/scripts",
            scriptAdmin: "optional@addama.org",
            returnCodes: {
                success: 0,
                unknownReason: "Failed No Reason",
                errors: {
                    "1": "Incorrect inputs",
                    "2": "Some god-forsaken reason"
                }
            },
            numberOfThreads: 3
            comment: "Every POST to this URI + /jobs will cause a new job directory to be created in the workDir.  GET calls to the URI will be redirected to the viewer URI"
        },
        {
            id:"secondtool",
            label: "Second Tool",
            script: "/usr/bin/perl second.pl",
            workDir: "/local/addama/domains/example.org/scripts",
            emailInstructions: {
                from: "email@addama.org",
                subject: "Subject",
                emailText: "/path/to/email/text/file.txt",
                host: "localhost"
            },
            comment: "Every POST to this URI + /jobs will cause a new job directory to be created in the workDir.  GET calls to the URI will be redirected to the viewer URI"
        }
    ],
    jobsDb: {
        classname: "com.mysql.jdbc.Driver",
        jdbcurl: "jdbc:mysql://host:3306/dbname",
        username: "readwriteusername",
        password: "readwritepassword"
    }
}
