{
    service: {
        uri: "/addama/services/tools/script-execution-svc",
        url: "https://informatics.example.org/script-execution-svc",
        label: "Local Script Execution Service"
    },
    mappings: [
        {
            uri:"/addama/tools/firsttool",
            label: "First Tool"
        },
        {
            uri:"/addama/tools/secondtool",
            label: "Second Tool"
        }
    ],
    locals: [
        {
            uri: "/addama/tools/firsttool",
            script: "/usr/bin/python first.py",
            workDir: "/local/addama/domains/example.org/scripts",
            viewer: "/addama/ui/tools/myfirstui.html",
            comment: "Every POST to this URI + /jobs will cause a new job directory to be created in the workDir.  GET calls to the URI will be redirected to the viewer URI"
        },
        {
            uri: "/addama/tools/secondtool",
            script: "/usr/bin/perl second.pl",
            workDir: "/local/addama/domains/example.org/scripts",
            viewer: "/addama/ui/tools/mysecondui.html",
            comment: "Every POST to this URI + /jobs will cause a new job directory to be created in the workDir.  GET calls to the URI will be redirected to the viewer URI"
        }
    ]
}
