{
    service: {
        uri: "/addama/services/filedb-creation-svc",
        url: "https://cancerregulome.systemsbiology.net/filedb-creation-svc",
        label: "File to Database Writing Service"
    },
    mappings: [
        {
            uri: "/addama/datasources/write/sqllite-datasource",
            label: "SqlLite Database"
        }
    ],
    locals: [
        {
            uri: "/addama/datasources/write/sqllite-datasource",
            classname: "org.sqlite.JDBC",
            jdbcurl: "jdbc:sqlite:test.db"
        }
    ]
}
