{
    id: "fs-repositories-svc",
    base: "/addama/repositories",
    label: "Filesystem Repository Service",
    mappings: [
        {
            id:"firstrepo",
            label: "First Repository",
            rootPath:"/local/path/to/files",
            serveFiles: true
        },
        {
            id:"secondrepo",
            label: "Second Repository",
            rootPath:"/local/path/to/files",
            serveFiles: false
        }
    ]
}
