{
    service: {
        uri: "/addama/services/uri-indexing-svc",
        url: "https://informatics.example.org/uri-indexing-svc",
        searchable: true,
        label: "URI Indexing Service"
    },
    mappings: [
        {
            uri: "/addama/indexes/firstIndex",
            label: "Local Indexing Access Controller"
        }
    ],
    locals: [
        {
            uri: "/addama/indexes/firstIndex",
            luceneStore: "/local/path/to/my/index/store"
        }
    ]
}
