{
    id: "uri-indexing-svc",
    label: "URI Indexing Service",
    family: "/addama/indexes",
    searchable: true,
    mappings: [
        {
            id: "firstIndex",
            label: "Local Indexing Access Controller",
            luceneStore: "/local/path/to/my/index/store"
        }
    ]
}
