{
    "family": "/addama/workspaces",
    "label": "Example Service",
    "mappings": [
        { "id": "repo_0", "label": "Repo 1", "rootPath": "target/test-classes/mainControllerTest/repo_0" },
        { "id": "repo_1", "label": "Repo 1", "rootPath": "target/test-classes/mainControllerTest/repo_1" },
        { "id": "repo_2", "label": "Repo 2", "rootPath": "target/test-classes/mainControllerTest/repo_2" },
        { "id": "repo_3", "label": "Repo 3", "rootPath": "target/test-classes/mainControllerTest/repo_3" },
        { "id": "repo_wi_writers", "label": "With Writers",
            "rootPath": "target/test-classes/mainControllerTest/repo_3",
            writers: ["writer1@addama.org","writer2@addama.org"] },
        { "id": "repo_wo_writers", "label": "Without Writers",
            "rootPath": "target/test-classes/mainControllerTest/repo_3", writers: [] }
    ]
}
