{
    service: {
        uri: "/addama/services/reference-genome",
        label: "Genomic Datasources Service"
    },
    mappings: [
        {
            uri: "/addama/refgenome/indexes/genes",
            family: "/addama/refgenome",
            pattern: "/addama/refgenome/*/genes/*",
            label: "Genome Indexes"
        },
        {
            uri: "/addama/refgenome/sequence",
            pattern: "/addama/refgenome/**/sequence",
            family: "/addama/refgenome",
            label: "Genome Sequences"
        }
    ]
}