{
    service: {
        uri: "/addama/services/refgenome/chromosome-index-svc",
        url: "https://cancerregulome.systemsbiology.net/chromosome-index-svc",
        label: "Chromosome Indexing Service"
    },
    mappings: [
        {
            uri: "/addama/refgenome/genes",
            pattern: "/addama/refgenome/**/genes",
            label: "Gene Chromosome Index"
        },
        {
            uri: "/addama/refgenome/locus",
            pattern: "/addama/refgenome/**/locus",
            label: "Locus Chromosome Index"
        }
    ],
    locals: [
        {
            uri: "/addama/refgenome/hg18/genes",
            classname: "com.mysql.jdbc.Driver",
            jdbcurl: "jdbc:mysql://kraken:3306/transplantdb",
            username: "readonlyuser",
            password: "r34d0nly",
            genesSchema: {
                table: "GENE_URI_CHROM_INDEX",
                chromosome: "chrom",
                start: "start",
                end: "end",
                strand: "strand",
                uri: "geneUri"
            },
            locusSchema: {
                table: "LOCUS_URI_CHROM_INDEX_HG18",
                chromosome: "chrom",
                start: "start",
                end: "end",
                locus: "locus",
                uri: "uri"
            }
        },
        {
            uri: "/addama/refgenome/hg19/genes",
            classname: "com.mysql.jdbc.Driver",
            jdbcurl: "jdbc:mysql://kraken:3306/transplantdb",
            username: "readonlyuser",
            password: "r34d0nly",
            genesSchema: {
                table: "GENE_URI_CHROM_INDEX",
                comment: "This is not the right table, it contains the data from hg18",
                chromosome: "chrom",
                start: "start",
                end: "end",
                strand: "strand",
                uri: "geneUri"
            },
            locusSchema: {
                table: "LOCUS_URI_CHROM_INDEX_HG19",
                chromosome: "chrom",
                start: "start",
                end: "end",
                locus: "locus",
                uri: "uri"
            }
        }
    ]
}
