body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    padding-top:32px;
    font-size:13px;
    background-color:#fff !important;
}

.apps {
    font-size:14px;
    width:400px;
    border-radius: 12px;
    background: #F6F6F6;
    border: 2px solid #0099cc;
    margin: 10px;
    padding: 10px;
    height: 80px;
    color: #555;
}

.apps h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
    position:relative;
    top:-50px;
    left:60px;
}

.apps_description {
    margin: 0;
    width:340px;
    height: 50px;
    text-align: justify;
    overflow: hidden;
    position:relative;
    top:-50px;
    left:60px;
    background: #F6F6F6;
    color: #555;
}

.apps_description:hover {
    overflow:auto;
    height: auto;
    width: auto;
    border: 2px solid #0099cc;
    z-index: 1;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    box-shadow: 5px 5px 5px #999999;
}

.apps img {
    border: 1px solid #ccc;
    position: relative;
    height: 50px;
    width: 50px;
}
