#topbar {
    width: 100%;
    height: 20px;
    border: 1px solid #c3daf9
}

.msg {
    font-size:14px;
}

.msg-error {
    font-size:14px;
}

#container_js_message {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#container_js_message .msg {
    border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

#container_js_message .msg-error {
    border-radius: 8px;
    background: #FFB2B2;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

#container_js_message .msg .msg-error h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#container_js_message .msg .msg-error p {
    margin: 0;
}
