{
    service: {
        uri: "/addama/services/repositories/jcr-repositories-svc",
        url: "https://informatics.example.org/jcr-repositories-svc",
        searchable: true,
        label: "JCR Repository Service"
    },
    mappings: [
         {
             uri: "/addama/repositories/some-content-repo",
             label: "Some Content Repository"
         }
    ],
    locals: [
         {
             uri: "/addama/repositories/some-content-repo",
             comment: "requires a JCR to be running at the given RMI URI",
             rmiserver: "rmi://localhost:10001/jackrabbit",
             username: "u",
             password: "p"
         }
    ]
}
