{
    service: {
        uri: "/addama/services/datasources/google-dsapi-svc",
        url: "https://informatics.example.org/google-dsapi-svc",
        label: "Queryable Databases Service"
    },
    mappings: [
        {
            uri: "/addama/datasources/firstdatabase",
            label: "First Database"
        }
    ],
    locals: [
        {
            uri: "/addama/datasources/firstdatabase",
            classname: "com.mysql.jdbc.Driver",
            comment: "Application server user must be allowed read access to database.  for example: grant select on database_name.* to 'username'@'hostname' identified by 'password';",
            jdbcurl: "jdbc:mysql://hostname:3306/database_name",
            username: "username",
            password: "password"
        }
    ]
}
