{
    "id": "test-proxy-svc",
    "base": "/addama/applications",
    "label": "Example Proxy",
    "mappings": [
        {
            "id": "edgelimma",
            "label": "Test App",
            "uri": "/addama/applications/edgelimma",
            "excludeBaseUri": true,
            "proxy": "http://example.com:8354/cgi-bin"
        }
    ]
}
