{
    "family": "/addama/services",
    "label": "Test Service",
    "comment": "Test Mappings Below",
    "mappings": [
        { "id": "test_boolean_true", label: "Test Expects True", goodBoolean: true },
        { "id": "test_boolean_false", label: "Test Expects False", goodBoolean: false },
        { "id": "test_boolean_as_string", label: "Test Expects Boolean as String", goodBoolean: "true" },
        { "id": "test_boolean_absent", label: "Test Expects Null" },
        { "id": "test_boolean_bad", label: "Test Expects Boolean", badBoolean: "notboolean" },

        { "id": "test_string_good", label: "Test Expects String Value", goodString: "string_value" },
        { "id": "test_string_absent", label: "Test Expects Absent String" },
        { "id": "test_string_empty", label: "Test Expects Empty String", goodString: "" },
        { "id": "test_string_as_boolean", label: "Test Expects String as Boolean", badString: true },

        { "id": "test_integer_good", label: "Test Expects Integer", goodInteger: 33 },
        { "id": "test_integer_absent", label: "Test Expects Absent Integer" },
        { "id": "test_integer_as_string", label: "Test Expects Integer as String", goodInteger: "54" },
        { "id": "test_integer_bad", label: "Test Expects Bad Integer", badInteger: "blah" },

        { "id": "test_json_good", label: "Test Expects JSON", goodJson: { v: "inside_value" } },
        { "id": "test_json_absent", label: "Test Expects Absent JSON" },
        { "id": "test_json_array", label: "Test Expects JSON Array", arrayJson: [] },
        { "id": "test_json_bad", label: "Test Expects Non-JSON", badJson: "blah" }
    ]
}
