{
    service: {
        uri: "/addama/services/repositories/fs-repositories-svc",
        url: "https://informatics.example.org/fs-repositories-svc",
        label: "Filesystem Repository Service"
    },
    mappings: [
        {
            uri:"/addama/repositories/firstrepo",
            label: "First Repository"
        },
        {
            uri:"/addama/repositories/secondrepo",
            label: "Second Repository"
        }
    ],
    locals: [
        {
            uri:"/addama/repositories/firstrepo",
            rootPath:"/local/path/to/files",
            serveFiles: true
        },
        {
            uri:"/addama/repositories/secondrepo",
            rootPath:"/local/path/to/files",
            serveFiles: false
        }
    ]
}
