{
    service: {
        uri: "/addama/services/reference-genome",
        label: "Genomic Datasources Service"
    },
    mappings: [
        {
            uri: "/addama/refgenome/indexes",
            family: "/addama/refgenome",
            label: "Genomic Indexes"
        },
        {
            uri: "/addama/refgenome/sequence",
            family: "/addama/refgenome",
            label: "Genomic Sequences"
        }
    ]
}