{    "family": "/addama/repositories",
    "label": "Example Service",
    "mappings": [
        { "id": "repo_1", "label": "Repo 1", "rootPath": "target/test-classes/testMainController/repo_1", "serveFiles": true },
        { "id": "repo_2", "label": "Repo 2", "rootPath": "target/test-classes/testMainController/repo_2", "serveFiles": false },
        { "id": "repo_3", "label": "Repo 3", "rootPath": "target/test-classes/testMainController/repo_3" }
    ]
}
