{
    label: "Chromosome Indexing Service",
    family: "/addama/indexes",
    mappings: [
        {
            id: "hg18",
            label: "Hg18 Chromosome Index",
            classname: "com.mysql.jdbc.Driver",
            jdbcurl: "jdbc:mysql://host:3306/dbname",
            username: "readonlyuser",
            password: "r34d0nly",
            schema: {
                table: "HG18",
                chromosome: "chrom",
                start: "start",
                end: "end",
                strand: "strand",
                geneIdentifier: "genes"
            }
        }
    }
}
