{
    service: {
        uri: "/addama/services/repositories/fs-datasources-svc",
        url: "https://informatics.example.org/fs-datasources-svc",
        label: "Filesystem Datasources Service"
    },
    mappings: [
         {
            uri: "/addama/datasources/someapp",
            label: "SomeApp datasources",
            comment: "Service to manage filesystem files as datasources automatically loaded into database"
         }
    ],
    locals: [
         {
             uri: "/addama/datasources/someapp",
             comment: "This mapping loads files under the given path into the provided database",
             rootPath: "/local/permanent/path",
             classname: "com.mysql.jdbc.Driver",
             jdbcurl: "jdbc:mysql://hostname:port/databasename",
             username: "username",
             password: "password"
         }
    ]
}
