{
    label: "Local Proxy Service",
    mappings: [
        {
            uri: "/addama/tools/firstproxy",
            label: "First Proxy to Existing Web Application",
            proxy: "http://internal.example.net/cgi/existingApp.pl",
            excludeBaseUri: true,
            comment: "excludeBaseUri and defaultPage are optional"
        }
    ]
}
