{
    family: "/addama/datasources",
    label: "Google Datasources Service",
    mappings: [
        {
            id: "firstdatabase",
            label: "First Database",
            classname: "com.mysql.jdbc.Driver",
            comment: "Application server user must be allowed read access to database.  for example: grant select on database_name.* to 'username'@'hostname' identified by 'password';",
            jdbcurl: "jdbc:mysql://hostname:3306/database_name",
            username: "username",
            password: "password"
        }
    ]
}
