{
    "id": "example-svc",
    "family": "/addama/datasources",
    "label": "Example Service",
    "comment": "Service mapping configurations go in the mappings section below",
    "mappings": [
        {
            "id": "firstdatabase",
            "label": "First Database",
            "comment": "This mapping endpoint will be found at /addama/datasources/firstdatabase"
        }
    ]
}
