{
    service: {
        uri: "/addama/services/repositories/clide-client-svc",
        url: "https://informatics.example.org/clide-client-svc",
        label: "Clide Client Service"
    },
    mappings: [
         {
            uri: "/addama/clide/subscribers/subscriber",
            label: "Clide Client"
         }
    ],
    locals: [
         {
             uri: "/addama/workspaces/someapp",
             comment: "This service stores files in a local filesystem",
             rootPath: "/local/permanent/path"
         }
    ]
}
