{
    "id": "example-svc",
    "base": "/addama/repositories",
    "label": "Example Service",
    "mappings": [
        { "id": "repo_1", "label": "Repo 1", "rootPath": "some_dir", "serveFiles": true },
        { "id": "repo_2", "label": "Repo 2", "rootPath": "some_dir", "serveFiles": false },
        { "id": "repo_3", "label": "Repo 3", "rootPath": "some_dir" }
    ]
}
