{
    "id": "example-svc",
    "base": "/addama/repositories",
    "label": "Example Service",
    "mappings": [
        { "id": "repo_1", "label": "Repo 1", "rootPath": "target/test-classes/fileSystemControllerTest/repo_1" },
        { "id": "repo_2", "label": "Repo 2", "rootPath": "target/test-classes/fileSystemControllerTest/repo_2" },
        { "id": "repo_3", "label": "Repo 3", "rootPath": "target/test-classes/fileSystemControllerTest/repo_3" }
    ]
}
