{
    service: {
        uri: "/addama/services/proxies/simple-proxy-svc",
        url: "https://informatics.example.org/simple-proxy-svc",
        label: "Local Proxy Service"
    },
    mappings: [
        {
            uri: "/addama/tools/firstproxy",
            label: "First Proxy to Existing Web Application"
        }
    ],
    locals: [
        {
            uri: "/addama/tools/firstproxy",
            proxy: "http://internal.example.net/cgi/existingApp.pl",
            excludeBaseUri: true,
            defaultPage: "/addama/ui/tools/existingApp/index.html",
            comment: "excludeBaseUri and defaultPage are optional; the defaultPage example expects the given page under webapps/ROOT/addama/ui/tools/existingApp/index.html"            
        }
    ]
}
